



body,html {
    max-width: 761px;  
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.logo p, .plat-img h1, footer h3 {
    font-family : 'Shrikhand', cursive ;
}

h3 {}

/* HEADER + IMAGE */

header {
    display: flex;
    align-items: center;
}

.fa-arrow-left {
    font-size: 18px;
    padding-left: 25px;
}

.logo {
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo p {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.plat-img {
   background-image: url(images/restaurants/française.jpg);
   background-size: cover;
   height: 35vh;
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 0px;
}

.h1div {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

.h1div h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}



.fa-heart {
    padding-right: 30px;
    font-size: 30px;
}

/* SECTION */



.section1 {
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.section1 h2 {
    color: #777;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

.h2-1 {
    margin-top: 0px;
}

.menu {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
}

.menu h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
}

.menuleft {
    flex:5;
}

.menuleft p {
    color: #777;
}



.price {
    flex:1;
    font-weight: bold;
    align-self: flex-end;
    text-align: end;
}

.buttondiv {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 13px 40px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#9356DC,#FF79DA); 
    color: white;
}



/* FOOTER */



footer {
    padding-left: 20px;
    background-color: #444;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
}

footer a {
    color: white;
}

footer h3 {
    font-weight: 300;
}

footer ul li {
    padding-bottom: 4px;
}

.fas {
    padding-right: 11px;
}

.fa-hands-helping {
    font-size: small;
    padding-right: 8px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
}