/************************************ ACCUEIL ************************************/
/************************************ MIS EN PAGE ************************************/


body,html {
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.logo p, .plat-img h1, footer h3 {
    font-family : 'Shrikhand', cursive ;
}

img {
    object-fit: cover;
}

.button {
    padding: 12px 17px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FF79DA,#9356DC);
    color: white;
}


/************************************ HEADER ************************************/


nav {
    width: 100%;
}

.logo {
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo p {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
}

.gps {
    padding-right: 15px;
}

/************************************ SECTION 1 ************************************/


.section_1{
    background-color: #F2F2F2;
}
.reservation{
    text-align: center;
}

.reservation h2, .reservation p {
    text-align: center;
}

.reservation {
    padding-top: 20px;
    padding-bottom: 40px;
}


/************************************ SECTION 2 ************************************/


.section2 {
    padding: 20px 20px 45px 20px;    
}

.list {
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 15px;
    margin:20px auto;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.list a {
    width:100%;
    display: flex;

   
}

.list p {
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
}

.fa-mobile-alt, .fa-list, .fa-store {
   padding-left: 23px; 
}

.fa-mobile-alt{
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:  #9356DC;
}

.fa-list {
    padding-top: 6px;
    color: #9356DC;
}

.fa-store {
    padding-top: 5px;
    color:  #9356DC;
}

.number {
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    padding: 3px 8px;
    transform: translateX(-10px);
}



/************************************ SECTION 3 ************************************/


.section3 {
    background-color: #F2F2F2;
    padding: 40px 20px;
}

.h2, .h2 h2 {
    background-color: #F2F2F2;
    margin: 0;

}

.restaurants {
    background-color: white;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;
}

.restaurants_img {
    width: 100%;
    height: 150px;
}

.restaurants_img img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
}

.new {
    position: absolute;
    color: green;
    font-weight: 500;
    background-color: #E0FFFF;
    font-size: 12px;;
    padding: 5px;
    border-radius: 1px;
    right: 10px;
    top: 10px;
}

.restaurants h3 {
    margin-bottom: 0px;
    font-size: 18px;
}

.restaurants p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottom {
    padding-left:15px;
    padding-bottom: 15px;
    position: relative;
}

.coeur-vide {
    position: absolute;
    right: 30px;
    top: 2px;
    font-size: 30px;
}

.coeur-vide:hover {
    opacity:0
}

.coeur-plein {
    position: absolute;
    right: 30px;
    top: 2px;
    font-size: 30px;
    opacity: 0;

}

.coeur-plein:hover {
    opacity: 1;
    color:transparent;
    background: linear-gradient(#9356DC,#FF79DA);
    -webkit-background-clip: text;

}


/************************************ FOOTER ************************************/


footer {
    padding-left: 20px;
    background-color: #444;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
}

footer a {
    color: white;
}

footer h3 {
    font-weight: 300;
}

footer ul li {
    padding-bottom: 4px;
}

.fa-ustensils {
    padding-right: 8px;
}

.fa-hands-helping {
    font-size: small;
    padding-right: 8px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
}

/************************************ PAGE MENU ************************************/
/************************************ HEADER + IMAGE ************************************/

header {
    display: flex;
    align-items: center;
}

.fa-arrow-left {
    font-size: 18px;
    padding-left: 25px;
}

.logo {
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo p {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.plat-img {
  
   background-size: cover;
   height: 35vh;
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 0px;
}

.francaise {
    background-image: url(../images/restaurants/française.jpg);
}

.delice {
    background-image: url(../images/restaurants/délice.jpg);
}

.note {
    background-image: url(../images/restaurants/note.jpg);
}

.palette {
    background-image: url(../images/restaurants/palette.jpg);
}

.h1div {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

.h1div h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fa-heart {
    font-size: 30px;
}


/************************************ SECTION ************************************/


.section1, .section_1 {
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.section1 h2 {
    color: #777;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

.menu {
    animation-name: plats;
    animation-duration: 1.5s;
}

@keyframes plats {
    from{
        transform: translateY(15px);
        opacity: 0;
    }

    to{
        opacity: 1;

    }
}

.menu_2 {
    animation-delay: 0.2s;
}

.menu_3 {
    animation-delay: 0.4s;
}

.menu_4 {
    animation-delay: 0.6s;
}

.h2-1 {
    margin-top: 0px;
}

.menu {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
}

.menu:hover .price p {
    transform: translate(-200%);

}

.menu:hover i {
    opacity: 1;
    color: white;
    right:40%;
    top:30%;
    transform:rotateZ(360deg)
}


.menuleft {
    flex:5;
    padding-top: 5px;
    padding-left: 10px;
}

.menuleft h3{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}

.menuleft p {
    color: #777;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
}



.price {
    flex:1;
    font-weight: bold;
    text-align: end;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



.price p {
    margin: 0px;
    padding-top: 38px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition-property: transform;
    transition-duration: 0.5s;
}

.check {
    height: 100%;
    width: 0%;
    transition: width 0.7s;
    position: absolute;
    right:0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.check p {
    position: absolute;
    right:1px;
    bottom:1px;
}



.menu:hover .check {
    width: 100%;
    background-color: #99E2D0;
}



.fa-check-circle {
    position: absolute;
    opacity: 0;
    font-size: 1.2rem;
    transition: transform 1s;
}

.buttondiv {
    text-align: center;
    padding: 15px 0;
    background-color: #F2F2F2;
}

button {
    padding: 13px 40px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#9356DC,#FF79DA); 
    color: white;
}


/************************************ FOOTER ************************************/

footer h3 {
    font-weight: 300;
}

footer ul li {
    padding-bottom: 4px;
}


/************************************ ACCUEIL ************************************/
/************************************ TABLETTE ************************************/

@media (min-width:768px) and (max-width:992px) {

    .section3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .section1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .plats h2 {
        margin-bottom: 0;
    }


}


/************************************ ORDINATEUR ************************************/

@media (min-width:992px) {

    .containerlist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .list p {
        padding-right: 25px;
    }

    .section1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .h2-1 {
        margin-top: 12px;
    }

    .section3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}


